<!-- Responsive panel example-->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @category.name %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal">

              <dt>City</dt>
              <dd><%= @category.notes %></dd>

            </dl>
            <div class="btn-group btn-group-justified">
              <a href="/categories" class="btn btn-primary">
                <i class="fa fa-chevron-left"></i>
              </a>

              <a href="/categories/<%= @category.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>

              <a href="/delete_category/<%= @category.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>

              <% if @category.favorited?(current_user) %>
              <a href="#" class="btn btn-success" rel="nofollow" disabled>
                <i class="fa fa-star"></i>
              </a>
              <% else %>
              <a href="/create_favorite/<%= @category.id %>/category" class="btn btn-success" rel="nofollow">
                <i class="fa fa-star-o"></i>
              </a>
              <% end %>

            </div>
          </div>
        </div>
      </div>

      <ul class="list-group">
        <li class="list-group-item list-group-item-success">
          All Manufacturers
        </li>
        <% @category.manufacturers.uniq.each do |manufacturer| %>
          <li class="list-group-item">
            <%= manufacturer.name %>
          </li>
        <% end %>
      </ul>

      <ul class="list-group">
        <li class="list-group-item list-group-item-success">
          Favorites
        </li>
        <% @category.favorites.each do |favorite| %>
          <li class="list-group-item">
            <%= favorite.user.email %> likes <%= favorite.favoriteable.name %>
          </li>
        <% end %>
      </ul>

    </div>
  </div>
</div>

<!-- End responsive panel example -->
