<!-- Validation failure messages -->

<% if @manufacturer.errors.any? %>
  <% @manufacturer.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<!-- Responsive panel example -->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Edit Manufacturer #<%= @manufacturer.id %></h3>
      </div>
      <div class="panel-body">
        <form action="/update_manufacturer/<%= @manufacturer.id %>" method="post" class="form-horizontal">


          <!-- Label and input for name -->
          <div class="form-group">
            <label for="name" class="col-sm-2 control-label">
              Manufacturer Name
            </label>
            <div class="col-sm-10">
              <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @manufacturer.name %>">
            </div>
          </div>

          <!-- Label and input for address -->
          <div class="form-group">
            <label for="address" class="col-sm-2 control-label">
              Address
            </label>
            <div class="col-sm-10">
              <input type="text" id="address" name="address" placeholder="Address" class="form-control" value="<%= @manufacturer.address %>">
            </div>
          </div>


          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button class="btn btn-warning">
                Update Manufacturer
              </button>
              or
              <a href="/manufacturers/<%= @manufacturer.id %>">Cancel</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- End responsive panel example -->
